services:
  #  Postgres
  postgres:
    image: postgres:15-alpine
    container_name: kairos-db
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
      POSTGRES_DB: kairos_core
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin -d kairos_core"]
      interval: 5s
      retries: 5

  #  Redis
  redis:
    image: redis:7-alpine
    container_name: kairos-cache
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

  #  Jupyter
  jupyter:
    image: jupyter/scipy-notebook:latest
    container_name: kairos-lab
    ports:
      - "8888:8888"
    environment:
      - JUPYTER_TOKEN=kairos
    volumes:
      - ./../ai_agents/notebooks:/home/jovyan/work
      - ./../sdk:/home/jovyan/sdk
      - ./../data_pipelines:/home/jovyan/pipelines

  #  Go Server
  go-server:
    build:
      context: ../
      dockerfile: services/go-feature-server/Dockerfile
    container_name: kairos-server
    ports:
      - "50051:50051"
    environment:
      - REDIS_ADDR=kairos-cache:6379
    depends_on:
      - redis

  #  MLflow (Using 'latest' to match your Python client)
  mlflow:
    image: ghcr.io/mlflow/mlflow:latest
    container_name: kairos-mlflow
    ports:
      - "5000:5000"
    command: mlflow server --backend-store-uri sqlite:////mlflow_store/mlflow.db --default-artifact-root /mlflow_store/artifacts --host 0.0.0.0
    volumes:
      - mlflow_storage:/mlflow_store

  #  Redpanda
  redpanda:
    image: redpandadata/redpanda:latest
    container_name: kairos-stream
    ports:
      - "9092:9092"
    command:
      - redpanda start
      - --overprovisioned
      - --smp 1 

#  Storage Definitions
volumes:
  postgres_data:
  redis_data:
  mlflow_storage: # Docker manages this now